@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: rgb(15, 23, 42);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: rgb(249, 115, 22);
  text-decoration: inherit;
}

a:hover {
  color: rgb(234, 88, 12);
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(249, 115, 22);
  color: white;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: rgb(234, 88, 12);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}